.mainContainer {
    padding: 30px 50px;

}

.articleWrapper .articleMenu {
    margin: 20px 0;
}

.articleMenu {
    display: flex;
    justify-content: space-between;
}

.articleID {
    font-size: 25px;
}
.iconEdit {
    margin-right: 10px;
}

/* Article Info */
.articleWrapper .article {
    padding: 40px;
}

.article {
    background: #fff;
    border-radius: 20px;
}


.articleInfo {
    display: flex;
    justify-content: space-between;
}

.articleTitle {
    background: inherit;
    border: 1px solid #188fff63;
    outline: none;
    width: 550px;
    box-sizing: border-box;
}
/* Article Content  */

.article .articleContent {
    margin-top: 20px;
    height: 100%;
    border: 1px solid #188fff63;
}

.articleContent {
    width: 100%;
    border: none;
}