.settingMenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.settings {
    width: 50px;
    height: 50px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.settingMenu .anticon-setting{
    width: 25px;
    height: 25px;
}
/* User */
.user {
    display: flex;
    border-radius: 20px;
    align-items: center;
    box-sizing: border-box;
    min-height: 60px;
}
.user .userAvatar {
    margin-left: 10px;
}
.userName {
    font-size: 16px;
}
.userAvatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}