.article {
}
.userContent{
    padding: 40px;
}
.articleMenu {
    margin: 20px 0;
}
.userContentInfo {
    
}
.userContentItemWrapper{
    width: 100%;
    border-spacing: 10px 20px;
    border-collapse: separate;
}
.userContentItemInfo{
    margin-bottom: 20px;
}