.userContentItemWrapper {
}
.userContentItem {
    box-shadow: 4px 4px 18px rgba(0, 0, 0, 0.161);
    border-radius: 15px;
    cursor: pointer;
    
}

.userContentItemButton span{
    width: 16px;
    height: 16px;
}
.userContentItemCheck{
    color: #82C91E;
    font-size: 20px;
    font-weight: bold;
}
.userContentItemCheck:hover {
    background-color: #fff;
    color: #82C91E;
}